<template>
  <section>
    <div class="card mb-3" style="max-width: 1920px">
      <div class="row g-0">
        <div class="col-md-4 d-flex align-items-center">
          <img :src="product.image" class="img-fluid rounded-start" alt="..." />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{ product.title }}</h5>
            <p class="card-text">
              {{ product.description }}
            </p>
            <p class="card-text">Цена: {{ product.price }} $</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
<script setup>
const { id } = useRoute().params;
const uri = `https://fakestoreapi.com/products/${id}`;
const { data: product } = await useAsyncData(() => $fetch(uri));
</script>