<template>
  <h2 class="my-4">Товары</h2>
  <div
    class="
      row
      row-cols-1
      row-cols-sm-2
      row-cols-md-3
      row-cols-lg-4
      row-cols-xl-5
      row-cols-xxl-6
      g-4
    "
  >
    <div class="col" v-for="product in products" :key="product.id">
      <div class="card h-100">
        <img :src="product.image" class="" alt="..." height="250" />
        <div class="card-body">
          <h5 class="card-title">{{ product.title }}</h5>
          Цена: {{ product.price }} $
        </div>
        <div class="card-footer">
          <NuxtLink class="nav-link" :to="`/products/${product.id}`">
            Подробнее
          </NuxtLink>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
const { $axios } = useNuxtApp();
const products = ref([]);

const getProducts = async () => {
  const response = await $axios.get("https://fakestoreapi.com/products");
  products.value = response.data;
};

getProducts();
</script>