<template>
  <nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Nuxt 3 PWA</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item" v-for="item in menu" :key="item.id">
            <NuxtLink class="nav-link" :to="{ name: item.route_name }">
              {{ item.name }}
            </NuxtLink>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</template>
<script setup>
const { $axios } = useNuxtApp();
const { data: menu } = await useAsyncData(() => {
  return [
    {
      id: 1,
      route_name: "index",
      name: "Главная",
    },
    {
      id: 2,
      route_name: "products",
      name: "Товары",
    },
    {
      id: 2,
      route_name: "contacts",
      name: "Контакты",
    },
  ];
});
</script>